/* Form container */
.form-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: #985E6B;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
  
}

/* Heading */
.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #2f4f4f;
}

/* Form layout */
.shop-form {
  display: flex;
  flex-direction: column;
}

.shop-form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.shop-form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Submit button */
.btn-submit {
 background:linear-gradient(135deg,#434860,#985E6D,#494E6B);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.shop{
  background-color: #98878F;
  height: 100vh;
  width: 100%;
  
}
